---
import Image from "astro/components/Image.astro";
import BrandThing from "./BrandThing.astro";

const workScreenAlt =
  "Phone screen shot displaying the homepage of the app La Bobine";

const { data } = Astro.props;
---

<div class="work">
  <div class="preview">
    <div class="screens">
      <Image src={data.image} alt={workScreenAlt} width={800} class="image" />
    </div>
  </div>
  <div class="work-details">
    <div class="description-container / rounded-container solid-shadow">
      <div class="container-text">
        <h2 class="container-title / work-title">{data.name}</h2>
        <p class="container-description / work-description" set:html={data.description}/>
      </div>
      <BrandThing />
    </div>
    <div class="tag-list">
      {
        data.tags.map((tag: string) => (
          <>
            <span>{tag}</span>
            <div class="dot" style={{ backgroundColor: data.color }} />
          </>
        ))
      }
    </div>
  </div>
</div>

<style>
  .work {
    display: flex;
    padding: 16px 8px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    color: var(--Main, #15171a);
  }

  .work-details {
    margin-top: -32px;
    display: flex;
    padding: 0 8px;
    max-width: 720px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
  }

  .tag-list {
    padding: 0 0 0 8px;
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    align-self: stretch;
    gap: 8px;
    flex: 1 1 auto;
    font-family: Switzer;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    justify-content: start;
    overflow-y: scroll;
    height: auto;
    line-height: 100%;
  }

  .tag-list span {
    display: inline-flex;
    flex: 0 0 auto;
  }

  .tag-list .dot {
    flex: 0 0 auto;
    height: 8px;
    width: 8px;
    border-radius: 2px;
  }

  .preview {
    display: flex;
    padding: 32px 16px 64px 16px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 16px;
    background: rgba(255, 217, 0, 0.2);
  }

  .preview .screens {
    display: flex;
    align-items: center;
    align-self: stretch;
    overflow: hidden;
  }

  .screens .image {
    width: 100%;
    height: auto;
  }
  .image-container--second {
    min-width: 0;
    justify-items: end;
    flex: 1 1 auto;
    display: flex;
    justify-content: end;
  }

  .image-container--second img {
    border-radius: 4px;
    overflow: hidden;
    flex: 1 0 auto;
    height: auto;
  }

  .work-title {
    font-size: 28px !important;
  }

  .work-description {
    font-size: 20px !important;
    line-height: 1.4em !important;
  }

  .description-container {
    padding: 32px 20px !important;
  }
</style>
