---
import { Image } from "astro:assets";
import BrandThing from "./BrandThing.astro";

const { data } = Astro.props;
---

<div class="work">
  <div class="preview">
    <div class="screens">
      <Image src={data.image} alt={`Screenshots of an app I designed ${data.name}, responsive`} class="image" />
    </div>
  </div>
  <div class="work-details">
    <div class="description-container / rounded-container solid-shadow solid-shadow--responsive">
      <div class="container-text">
        <h2 class="container-title / work-title">{data.name}</h2>
        <p
          class="container-description / work-description"
          set:html={data.description}
        />
      </div>
      <BrandThing />
    </div>
    <div class="tag-list">
      {
        data.tags.map((tag: string, index: number) => (
          <>
            <span>{tag}</span>
            {data.tags.length > index + 1 ? (<div class="dot" style={{ backgroundColor: data.color }} />) : <></>}
            
          </>
        ))
      }
    </div>
  </div>
</div>

<style>
  .work {
    display: flex;
    padding: 16px 8px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    color: var(--Main, #15171a);
  }

  .work-details {
    margin-top: -32px;
    display: flex;
    padding: 0 8px;
    max-width: 720px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
  }

  .tag-list {
    padding: 0 0 0 8px;
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    align-self: stretch;
    gap: 8px;
    flex: 1 1 auto;
    font-family: Switzer;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    justify-content: start;
    height: auto;
    line-height: 100%;
  }

  .tag-list span {
    display: inline-flex;
    flex: 0 0 auto;
  }

  .tag-list .dot {
    flex: 0 0 auto;
    height: 8px;
    width: 8px;
    border-radius: 2px;
  }

  .preview {
    display: flex;
    padding: 32px 16px 64px 16px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 6px;
    background: rgba(255, 217, 0, 0.2);
  }

  .preview .screens {
    display: flex;
    align-items: center;
    align-self: stretch;
    overflow: hidden;
  }

  .screens .image {
    width: 100%;
    height: auto;
  }

  .work-title {
    font-size: 28px !important;
  }

  .work-description {
    font-size: 18px !important;
    line-height: 1.35em !important;
  }

  .description-container {
    padding: 20px 20px !important;
  }

  @media (width >= 48rem) {
    .work {
      padding: 16px 0px 16px var(--Space-Work-Horizontal, 32px);
      flex-direction: row-reverse;
      justify-content: start;
    }
    
    .work-details {
      max-width: 480px;
      padding: 32px 0px;
      gap: 16px;
      flex: 1 0 0;
      flex-direction: column-reverse;
      align-items: flex-start;
      justify-content: start;
      margin-right: -16px;
    }

    
    .preview {
      display: flex;
      align-self: stretch;
      padding: 32px 0 32px 32px;
      flex: 1 0 0;
      border-radius: 8px 0 0px 8px;
      overflow: hidden;
    }

    .tag-list {
      flex: 0 1 auto;
      font-size: 16px;
    }
    
    .screens {
      margin-right: -64px;
    }

    
    .description-container {
      padding: 20px !important;
      gap: 16px;
    }

    

    .description-container .container-text {
      gap: 8px
    }

    .work-title {
      font-size: 32px !important;
    }

    .work-description {
      font-size: 18px !important;
    }
  }

  @media (width >= 80rem) {
    .work {
      padding: 64px 0px 64px var(--Space-Work-Horizontal, 64px);
    }

    .work-details {
      max-width: 600px;
      min-width: 500px;
      padding-top: 128px;
      margin-right: -64px;
      gap: 20px
    }


    .preview {
      padding: 128px 0 128px 128px;
      border-radius: 16px 0 0px 16px;
    }

    .screens {
      margin-right: -128px;
    }

    .description-container {
      padding: 32px !important;
      gap: 32px;
    }

    .description-container .container-text {
      gap: 8px
    }

    .tag-list {
      font-size: 18px;
    }

    .work-title {
      font-size: 36px !important;
    }

    .work-description {
      font-size: 24px !important;
    }
  }
</style>
